################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SoftServe C# Online Marathon/Sprint_01
/Rider training
/NOD
/Maksym-Semenov
/HTML
/Get the Middle Character
/Codewars
/Sprint_06
/Sprint_05/Ефіл_05/Task_05.csproj
/Sprint_05/Ефіл_05/Program.cs
/Sprint_05/Ефіл_05/obj/Ефіл_05.csproj.nuget.g.targets
/Sprint_05/Ефіл_05/obj/Ефіл_05.csproj.nuget.g.props
/Sprint_05/Ефіл_05/obj/Ефіл_05.csproj.nuget.dgspec.json
/Sprint_05/Ефіл_05/obj/Task_05.csproj.nuget.g.targets
/Sprint_05/Ефіл_05/obj/Task_05.csproj.nuget.g.props
/Sprint_05/Ефіл_05/obj/Task_05.csproj.nuget.dgspec.json
/Sprint_05/Ефіл_05/obj/project.nuget.cache
/Sprint_05/Ефіл_05/obj/project.assets.json
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.GlobalUsings.g.cs
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.csproj.AssemblyReference.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.assets.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.AssemblyInfoInputs.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Ефіл_05.AssemblyInfo.cs
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.pdb
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.GlobalUsings.g.cs
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.genruntimeconfig.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.dll
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.csproj.FileListAbsolute.txt
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.csproj.CoreCompileInputs.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.csproj.AssemblyReference.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.assets.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.AssemblyInfoInputs.cache
/Sprint_05/Ефіл_05/obj/Debug/net6.0/Task_05.AssemblyInfo.cs
/Sprint_05/Ефіл_05/obj/Debug/net6.0/refint/Task_05.dll
/Sprint_05/Ефіл_05/obj/Debug/net6.0/refint
/Sprint_05/Ефіл_05/obj/Debug/net6.0/ref/Task_05.dll
/Sprint_05/Ефіл_05/obj/Debug/net6.0/ref
/Sprint_05/Ефіл_05/obj/Debug/net6.0/apphost.exe
/Sprint_05/Ефіл_05/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Ефіл_05/obj/Debug/net6.0
/Sprint_05/Ефіл_05/obj
/Sprint_05/Ефіл_05/bin/Debug/net6.0/Task_05.runtimeconfig.json
/Sprint_05/Ефіл_05/bin/Debug/net6.0/Task_05.pdb
/Sprint_05/Ефіл_05/bin/Debug/net6.0/Task_05.exe
/Sprint_05/Ефіл_05/bin/Debug/net6.0/Task_05.dll
/Sprint_05/Ефіл_05/bin/Debug/net6.0/Task_05.deps.json
/Sprint_05/Ефіл_05/bin/Debug/net6.0
/Sprint_05/Ефіл_05
/Sprint_05/Task_06/Task_06.csproj
/Sprint_05/Task_06/Program.cs
/Sprint_05/Task_06/obj/Task_06.csproj.nuget.g.targets
/Sprint_05/Task_06/obj/Task_06.csproj.nuget.g.props
/Sprint_05/Task_06/obj/Task_06.csproj.nuget.dgspec.json
/Sprint_05/Task_06/obj/project.nuget.cache
/Sprint_05/Task_06/obj/project.assets.json
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.GlobalUsings.g.cs
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.csproj.AssemblyReference.cache
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.assets.cache
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.AssemblyInfoInputs.cache
/Sprint_05/Task_06/obj/Debug/net6.0/Task_06.AssemblyInfo.cs
/Sprint_05/Task_06/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Task_06/obj/Debug/net6.0
/Sprint_05/Task_06/obj
/Sprint_05/Task_06
/Sprint_05/Task_04/Task_04.csproj
/Sprint_05/Task_04/Program.cs
/Sprint_05/Task_04/obj/Task_04.csproj.nuget.g.targets
/Sprint_05/Task_04/obj/Task_04.csproj.nuget.g.props
/Sprint_05/Task_04/obj/Task_04.csproj.nuget.dgspec.json
/Sprint_05/Task_04/obj/project.nuget.cache
/Sprint_05/Task_04/obj/project.assets.json
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.GlobalUsings.g.cs
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.csproj.FileListAbsolute.txt
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.csproj.CoreCompileInputs.cache
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.csproj.AssemblyReference.cache
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.assets.cache
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.AssemblyInfoInputs.cache
/Sprint_05/Task_04/obj/Debug/net6.0/Task_04.AssemblyInfo.cs
/Sprint_05/Task_04/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Task_04/obj/Debug/net6.0
/Sprint_05/Task_04/obj
/Sprint_05/Task_04
/Sprint_05/TAsk_03/Task_03.csproj
/Sprint_05/TAsk_03/Program.cs
/Sprint_05/TAsk_03/obj/TAsk_03.csproj.nuget.g.targets
/Sprint_05/TAsk_03/obj/TAsk_03.csproj.nuget.g.props
/Sprint_05/TAsk_03/obj/Task_03.csproj.nuget.dgspec.json
/Sprint_05/TAsk_03/obj/project.nuget.cache
/Sprint_05/TAsk_03/obj/project.assets.json
/Sprint_05/TAsk_03/obj/Debug/net6.0/TAsk_03.GlobalUsings.g.cs
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.csproj.FileListAbsolute.txt
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.csproj.CoreCompileInputs.cache
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.csproj.BuildWithSkipAnalyzers
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.csproj.AssemblyReference.cache
/Sprint_05/TAsk_03/obj/Debug/net6.0/TAsk_03.assets.cache
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.AssemblyInfoInputs.cache
/Sprint_05/TAsk_03/obj/Debug/net6.0/Task_03.AssemblyInfo.cs
/Sprint_05/TAsk_03/obj/Debug/net6.0/apphost.exe
/Sprint_05/TAsk_03/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/TAsk_03/obj/Debug/net6.0
/Sprint_05/TAsk_03/obj
/Sprint_05/TAsk_03
/Sprint_05/Task_02/Task_02.csproj
/Sprint_05/Task_02/Program.cs
/Sprint_05/Task_02/obj/Task_02.csproj.nuget.g.targets
/Sprint_05/Task_02/obj/Task_02.csproj.nuget.g.props
/Sprint_05/Task_02/obj/Task_02.csproj.nuget.dgspec.json
/Sprint_05/Task_02/obj/project.nuget.cache
/Sprint_05/Task_02/obj/project.assets.json
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.pdb
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.GlobalUsings.g.cs
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.genruntimeconfig.cache
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.dll
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.csproj.FileListAbsolute.txt
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.csproj.CoreCompileInputs.cache
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.csproj.AssemblyReference.cache
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.assets.cache
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.AssemblyInfoInputs.cache
/Sprint_05/Task_02/obj/Debug/net6.0/Task_02.AssemblyInfo.cs
/Sprint_05/Task_02/obj/Debug/net6.0/refint/Task_02.dll
/Sprint_05/Task_02/obj/Debug/net6.0/refint
/Sprint_05/Task_02/obj/Debug/net6.0/ref/Task_02.dll
/Sprint_05/Task_02/obj/Debug/net6.0/ref
/Sprint_05/Task_02/obj/Debug/net6.0/apphost.exe
/Sprint_05/Task_02/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Task_02/obj/Debug/net6.0
/Sprint_05/Task_02/obj
/Sprint_05/Task_02/bin/Debug/net6.0/Task_02.runtimeconfig.json
/Sprint_05/Task_02/bin/Debug/net6.0/Task_02.pdb
/Sprint_05/Task_02/bin/Debug/net6.0/Task_02.exe
/Sprint_05/Task_02/bin/Debug/net6.0/Task_02.dll
/Sprint_05/Task_02/bin/Debug/net6.0/Task_02.deps.json
/Sprint_05/Task_02/bin/Debug/net6.0
/Sprint_05/Task_02
/Sprint_05/Task_01/Task_01.csproj
/Sprint_05/Task_01/Program.cs
/Sprint_05/Task_01/obj/Task_01.csproj.nuget.g.targets
/Sprint_05/Task_01/obj/Task_01.csproj.nuget.g.props
/Sprint_05/Task_01/obj/Task_01.csproj.nuget.dgspec.json
/Sprint_05/Task_01/obj/project.nuget.cache
/Sprint_05/Task_01/obj/project.assets.json
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.pdb
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.GlobalUsings.g.cs
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.genruntimeconfig.cache
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.dll
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.csproj.FileListAbsolute.txt
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.csproj.CoreCompileInputs.cache
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.csproj.AssemblyReference.cache
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.assets.cache
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.AssemblyInfoInputs.cache
/Sprint_05/Task_01/obj/Debug/net6.0/Task_01.AssemblyInfo.cs
/Sprint_05/Task_01/obj/Debug/net6.0/refint/Task_01.dll
/Sprint_05/Task_01/obj/Debug/net6.0/refint
/Sprint_05/Task_01/obj/Debug/net6.0/ref/Task_01.dll
/Sprint_05/Task_01/obj/Debug/net6.0/ref
/Sprint_05/Task_01/obj/Debug/net6.0/apphost.exe
/Sprint_05/Task_01/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Task_01/obj/Debug/net6.0
/Sprint_05/Task_01/obj
/Sprint_05/Task_01/bin/Debug/net6.0/Task_01.runtimeconfig.json
/Sprint_05/Task_01/bin/Debug/net6.0/Task_01.pdb
/Sprint_05/Task_01/bin/Debug/net6.0/Task_01.exe
/Sprint_05/Task_01/bin/Debug/net6.0/Task_01.dll
/Sprint_05/Task_01/bin/Debug/net6.0/Task_01.deps.json
/Sprint_05/Task_01/bin/Debug/net6.0
/Sprint_05/Task_01
/Sprint_05/Sprint_05.sln
/Sprint_05/Quiz/Quiz.csproj
/Sprint_05/Quiz/Program.cs
/Sprint_05/Quiz/obj/Quiz.csproj.nuget.g.targets
/Sprint_05/Quiz/obj/Quiz.csproj.nuget.g.props
/Sprint_05/Quiz/obj/Quiz.csproj.nuget.dgspec.json
/Sprint_05/Quiz/obj/project.nuget.cache
/Sprint_05/Quiz/obj/project.assets.json
/Sprint_05/Quiz/obj/Debug/net6.0/refint/Quiz.dll
/Sprint_05/Quiz/obj/Debug/net6.0/refint
/Sprint_05/Quiz/obj/Debug/net6.0/ref/Quiz.dll
/Sprint_05/Quiz/obj/Debug/net6.0/ref
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.pdb
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.GlobalUsings.g.cs
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.genruntimeconfig.cache
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.dll
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.csproj.FileListAbsolute.txt
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.csproj.CoreCompileInputs.cache
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.csproj.BuildWithSkipAnalyzers
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.csproj.AssemblyReference.cache
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.assets.cache
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.AssemblyInfoInputs.cache
/Sprint_05/Quiz/obj/Debug/net6.0/Quiz.AssemblyInfo.cs
/Sprint_05/Quiz/obj/Debug/net6.0/apphost.exe
/Sprint_05/Quiz/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_05/Quiz/obj/Debug/net6.0
/Sprint_05/Quiz/obj
/Sprint_05/Quiz/bin/Debug/net6.0/Quiz.runtimeconfig.json
/Sprint_05/Quiz/bin/Debug/net6.0/Quiz.pdb
/Sprint_05/Quiz/bin/Debug/net6.0/Quiz.exe
/Sprint_05/Quiz/bin/Debug/net6.0/Quiz.dll
/Sprint_05/Quiz/bin/Debug/net6.0/Quiz.deps.json
/Sprint_05/Quiz/bin/Debug/net6.0
/Sprint_05/Quiz
/Sprint_05/.vs/Sprint_05/v17/.suo
/Sprint_05/.vs/Sprint_05/v17/.futdcache.v2
/Sprint_05/.vs/Sprint_05/v17
/Sprint_05/.vs/Sprint_05/FileContentIndex/read.lock
/Sprint_05/.vs/Sprint_05/FileContentIndex/b718a303-6804-49dc-8791-89fc2f5de648.vsidx
/Sprint_05/.vs/Sprint_05/FileContentIndex/a3df21b9-0f19-46f9-9f2d-6e959c7e2e72.vsidx
/Sprint_05/.vs/Sprint_05/FileContentIndex/69b8dc2c-1634-4acb-a908-7df0bbb47e15.vsidx
/Sprint_05/.vs/Sprint_05/FileContentIndex/1d88013a-7b79-446b-a48e-9da82e6ada7c.vsidx
/Sprint_05/.vs/Sprint_05/FileContentIndex
/Sprint_05/.vs/Sprint_05/DesignTimeBuild/.dtbcache.v2
/Sprint_05/.vs/Sprint_05/DesignTimeBuild
/Sprint_05/.vs/Sprint_05
/Sprint_05/.vs/ProjectEvaluation/sprint_05.projects.v5.1
/Sprint_05/.vs/ProjectEvaluation/sprint_05.metadata.v5.1
/Sprint_05/.vs/ProjectEvaluation
/Sprint_05/.vs
/Sprint_05
/Sprint_04/Task_04/Task_04.csproj
/Sprint_04/Task_04/Program.cs
/Sprint_04/Task_04/obj/Task_04.csproj.nuget.g.targets
/Sprint_04/Task_04/obj/Task_04.csproj.nuget.g.props
/Sprint_04/Task_04/obj/Task_04.csproj.nuget.dgspec.json
/Sprint_04/Task_04/obj/project.nuget.cache
/Sprint_04/Task_04/obj/project.assets.json
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.GlobalUsings.g.cs
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.csproj.FileListAbsolute.txt
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.csproj.CoreCompileInputs.cache
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.csproj.AssemblyReference.cache
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.assets.cache
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.AssemblyInfoInputs.cache
/Sprint_04/Task_04/obj/Debug/net6.0/Task_04.AssemblyInfo.cs
/Sprint_04/Task_04/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_04/Task_04/obj/Debug/net6.0
/Sprint_04/Task_04/obj
/Sprint_04/Task_04
/Sprint_04/Task_03/Task_03.csproj
/Sprint_04/Task_03/Program.cs
/Sprint_04/Task_03/obj/Task_03.csproj.nuget.g.targets
/Sprint_04/Task_03/obj/Task_03.csproj.nuget.g.props
/Sprint_04/Task_03/obj/Task_03.csproj.nuget.dgspec.json
/Sprint_04/Task_03/obj/project.nuget.cache
/Sprint_04/Task_03/obj/project.assets.json
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.pdb
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.GlobalUsings.g.cs
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.genruntimeconfig.cache
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.dll
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.csproj.FileListAbsolute.txt
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.csproj.CoreCompileInputs.cache
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.csproj.BuildWithSkipAnalyzers
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.csproj.AssemblyReference.cache
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.assets.cache
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.AssemblyInfoInputs.cache
/Sprint_04/Task_03/obj/Debug/net6.0/Task_03.AssemblyInfo.cs
/Sprint_04/Task_03/obj/Debug/net6.0/refint/Task_03.dll
/Sprint_04/Task_03/obj/Debug/net6.0/refint
/Sprint_04/Task_03/obj/Debug/net6.0/ref/Task_03.dll
/Sprint_04/Task_03/obj/Debug/net6.0/ref
/Sprint_04/Task_03/obj/Debug/net6.0/apphost.exe
/Sprint_04/Task_03/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_04/Task_03/obj/Debug/net6.0
/Sprint_04/Task_03/obj
/Sprint_04/Task_03/bin/Debug/net6.0/Task_03.runtimeconfig.json
/Sprint_04/Task_03/bin/Debug/net6.0/Task_03.pdb
/Sprint_04/Task_03/bin/Debug/net6.0/Task_03.exe
/Sprint_04/Task_03/bin/Debug/net6.0/Task_03.dll
/Sprint_04/Task_03/bin/Debug/net6.0/Task_03.deps.json
/Sprint_04/Task_03/bin/Debug/net6.0
/Sprint_04/Task_03
/Sprint_04/Task_02/Task_02.csproj
/Sprint_04/Task_02/Program.cs
/Sprint_04/Task_02/obj/Task_02.csproj.nuget.g.targets
/Sprint_04/Task_02/obj/Task_02.csproj.nuget.g.props
/Sprint_04/Task_02/obj/Task_02.csproj.nuget.dgspec.json
/Sprint_04/Task_02/obj/project.nuget.cache
/Sprint_04/Task_02/obj/project.assets.json
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.pdb
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.GlobalUsings.g.cs
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.genruntimeconfig.cache
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.dll
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.csproj.FileListAbsolute.txt
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.csproj.CoreCompileInputs.cache
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.csproj.AssemblyReference.cache
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.assets.cache
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.AssemblyInfoInputs.cache
/Sprint_04/Task_02/obj/Debug/net6.0/Task_02.AssemblyInfo.cs
/Sprint_04/Task_02/obj/Debug/net6.0/refint/Task_02.dll
/Sprint_04/Task_02/obj/Debug/net6.0/refint
/Sprint_04/Task_02/obj/Debug/net6.0/ref/Task_02.dll
/Sprint_04/Task_02/obj/Debug/net6.0/ref
/Sprint_04/Task_02/obj/Debug/net6.0/apphost.exe
/Sprint_04/Task_02/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_04/Task_02/obj/Debug/net6.0
/Sprint_04/Task_02/obj
/Sprint_04/Task_02/bin/Debug/net6.0/Task_02.runtimeconfig.json
/Sprint_04/Task_02/bin/Debug/net6.0/Task_02.pdb
/Sprint_04/Task_02/bin/Debug/net6.0/Task_02.exe
/Sprint_04/Task_02/bin/Debug/net6.0/Task_02.dll
/Sprint_04/Task_02/bin/Debug/net6.0/Task_02.deps.json
/Sprint_04/Task_02/bin/Debug/net6.0
/Sprint_04/Task_02
/Sprint_04/Task_01/Task_01.csproj
/Sprint_04/Task_01/Program.cs
/Sprint_04/Task_01/obj/Task_01.csproj.nuget.g.targets
/Sprint_04/Task_01/obj/Task_01.csproj.nuget.g.props
/Sprint_04/Task_01/obj/Task_01.csproj.nuget.dgspec.json
/Sprint_04/Task_01/obj/project.nuget.cache
/Sprint_04/Task_01/obj/project.assets.json
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.pdb
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.GlobalUsings.g.cs
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.genruntimeconfig.cache
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.GeneratedMSBuildEditorConfig.editorconfig
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.dll
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.csproj.FileListAbsolute.txt
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.csproj.CoreCompileInputs.cache
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.csproj.AssemblyReference.cache
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.assets.cache
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.AssemblyInfoInputs.cache
/Sprint_04/Task_01/obj/Debug/net6.0/Task_01.AssemblyInfo.cs
/Sprint_04/Task_01/obj/Debug/net6.0/refint/Task_01.dll
/Sprint_04/Task_01/obj/Debug/net6.0/refint
/Sprint_04/Task_01/obj/Debug/net6.0/ref/Task_01.dll
/Sprint_04/Task_01/obj/Debug/net6.0/ref
/Sprint_04/Task_01/obj/Debug/net6.0/apphost.exe
/Sprint_04/Task_01/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Sprint_04/Task_01/obj/Debug/net6.0
/Sprint_04/Task_01/obj
/Sprint_04/Task_01/bin/Debug/net6.0/Task_01.runtimeconfig.json
/Sprint_04/Task_01/bin/Debug/net6.0/Task_01.pdb
/Sprint_04/Task_01/bin/Debug/net6.0/Task_01.exe
/Sprint_04/Task_01/bin/Debug/net6.0/Task_01.dll
/Sprint_04/Task_01/bin/Debug/net6.0/Task_01.deps.json
/Sprint_04/Task_01/bin/Debug/net6.0
/Sprint_04/Task_01
/Sprint_04/Sprint_04.sln
/Sprint_04/.vs/Sprint_04/v17/.suo
/Sprint_04/.vs/Sprint_04/v17/.futdcache.v2
/Sprint_04/.vs/Sprint_04/v17
/Sprint_04/.vs/Sprint_04/FileContentIndex/read.lock
/Sprint_04/.vs/Sprint_04/FileContentIndex/c944502d-ca65-49ea-af0a-92971b1c188e.vsidx
/Sprint_04/.vs/Sprint_04/FileContentIndex/a6679a13-78f7-458a-a0d5-a08cf7cd180b.vsidx
/Sprint_04/.vs/Sprint_04/FileContentIndex/5e4e813b-c5bc-4244-a4e5-1c79f9859825.vsidx
/Sprint_04/.vs/Sprint_04/FileContentIndex/017499df-e0f1-481c-a6ff-e5759af0573e.vsidx
/Sprint_04/.vs/Sprint_04/FileContentIndex
/Sprint_04/.vs/Sprint_04/DesignTimeBuild/.dtbcache.v2
/Sprint_04/.vs/Sprint_04/DesignTimeBuild
/Sprint_04/.vs/Sprint_04/config/applicationhost.config
/Sprint_04/.vs/Sprint_04/config
/Sprint_04/.vs/Sprint_04
/Sprint_04/.vs/ProjectEvaluation/sprint_04.projects.v5.1
/Sprint_04/.vs/ProjectEvaluation/sprint_04.metadata.v5.1
/Sprint_04/.vs/ProjectEvaluation
/Sprint_04/.vs
/Sprint_04/.filenesting.json
/Sprint_04
/Sprint_03
/Sprint_02
/Sprint_01
/Sprint_11
/Sprint_10
/Sprint_09
/Sprint_08
/Sprint_07
/С#OOP course SoftServe
/Task_05
/Sprint_16/Sprint16
/Sprint_15
/Sprint_14
/Sprint_13
/Sprint_12
/HomeWork1
/DeathForRussia
/ALICE
